
[Install]
WantedBy=multi-user.target

[Unit]
Description=Gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/django-cicd
ExecStart=/home/ubuntu/env/bin/python /home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock healthlink.local.wsgi:application

[Install]
WantedBy=multi-user.target
